body {
  background: white;
}

#game_title {
  font-size: 50px;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}

#log_button {
  background-color: black;
  color: white;
  position: relative;
  left: 43%;
  width: 200px;
  height: 100px;
  border-radius: 30px;
  border-color: blue;
  box-shadow: 0;
  transform-origin: center;
  font-weight: bold;
  font-size: 30px;
}
#log_button2 {
  background-color: black;
  color: white;
  position: relative;
  left: 90%;
  border-radius: 30px;
  border-color: blue;
  box-shadow: 0;
  transform-origin: center;
  font-weight: bold;
  font-size: 20px;
}
