
body {
 background: radial-gradient(circle, blue, red);
}

h1  {
	 font-size: 50px;
   color: white;
   text-align: center;
   border-radius: 25px;
   border-color: black;
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 line-height: 50px;
	 text-align: center;
	 -moz-transform:translateX(35%);
	 -webkit-transform:translateX(35%);
	 transform:translateX(35%)
	 -moz-animation: bouncing-text 3s linear infinite alternate;
	 -webkit-animation: bouncing-text 3s linear infinite alternate;
	 animation: bouncing-text 3s linear infinite alternate;
	}
	@-moz-keyframes bouncing-text {
	 0%   { -moz-transform: translateX(35%); }
	 100% { -moz-transform: translateX(-35%); }
	}
	@-webkit-keyframes bouncing-text {
	 0%   { -webkit-transform: translateX(35%); }
	 100% { -webkit-transform: translateX(-35%); }
	}

#game_title {
  font-size: 50px;
  color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
  text-shadow: 2px 2px #a8a8a8;
}

p {
  font-family: arial black;
  color: black;
  margin-left: 31%;
  margin-top: 4.8%;

}

#log_button {
  background-color: black;
  color: white;
  position: relative;
  left: 45%;
  width: 200px;
  height: 100px;
  border-radius: 30px;
  border-color: blue;
  box-shadow: 0;
  transform-origin: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 300px;
}

#log_button2 {
  background-color: black;
  color: white;
  position: absolute;
  margin-left: 85%;
  margin-top: -10%;
  width: 115px;
  height: 65px;
  border-radius: 30px;
  border-color: blue;
  box-shadow: 0;
  transform-origin: center;
  font-weight: bold;
  font-size: 23px;
}

.select_mode {
   margin-top: 13%;
   font-size: 20px;
   position: fixed;
   left: 45%;
 }

#profileb {
  line-height: 30px;
  width: 124px;
  font-family: Arial Black;
  margin-left: 40%;
  margin-top: 1%;
  position: absolute;
  background-color: blue;
  border: black;
  border: magenta;
  border-style: double;
  border-width: 6px;
  border-radius: 30px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;

}

 #subb{
  line-height: 30px;
  width: 124px;
  font-family: Arial Black;
  margin-left: 40%;
  margin-top: 0%;
  position: absolute;
  background-color: blue;
  border: black;
  border: #00ffff;
  border-style: double;
  border-width: 6px;
  border-radius: 30px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
}

#h1_banner {
  background: navy;
  width: 1700px;
  height: 80px;
  top: 0;
  left: 0;
  position: absolute;
}

#link{
 line-height: 30px;
 width: 124px;
 font-family: Arial Black;
 margin-left: 0%;
 margin-top: 1%;
 position: relative;
 top: 10%;
 left: 1%;
 background-color: blue;
 border: black;
 border: #FFE4E1;
 border-style: double;
 border-width: 6px;
 border-radius: 30px;
 color: white;
 padding: 16px 16px;
 text-align: left;
 text-decoration: none;
 display: inline-block;
 font-size:5px;
}
