body {
  background: #e6e6fa
  /*#background: #466368;*/
  /*background: radial-gradient(#648880, #293f50);*/
}

#game_title {
  font-size: 50px;
  text-align: center;
  border-radius: 25px;
  border-color: black;
  text-shadow: 2px 2px;
}

#log_button {
  background-color: black;
  color: white;
  position: relative;
  left: 43%;
  width: 200px;
  height: 100px;
  border-radius: 30px;
  border-color: blue;
  box-shadow: 0;
  transform-origin: center;
  font-weight: bold;
  font-size: 30px;
}

#log_button2 {
  background-color: black;
  color: white;
  position: relative;
  left: 90%;
  border-radius: 30px;
  border-color: blue;
  box-shadow: 0;
  transform-origin: center;
  font-weight: bold;
  font-size: 20px;
}

h1 {
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 -moz-transform:translateX(50%);
 -webkit-transform:translateX(50%);
 transform:translateX(50%);
 -moz-animation: bouncing-text 5s linear infinite alternate;
 -webkit-animation: bouncing-text 5s linear infinite alternate;
 animation: bouncing-text 5s linear infinite alternate;
}
@-moz-keyframes bouncing-text {
 0%   { -moz-transform: translateX(50%); }
 100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes bouncing-text {
 0%   { -webkit-transform: translateX(50%); }
 100% { -webkit-transform: translateX(-50%); }
}
