body {
 background: radial-gradient(circle, blue, red);
}

h1 {
font-size: 50px;
color: white;
border-radius: 25px;
border-color: black;
font-family: arial black;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 -moz-transform:translateX(50%);
 -webkit-transform:translateX(50%);
 transform:translateX(50%);
 -moz-animation: bouncing-text 5s linear infinite alternate;
 -webkit-animation: bouncing-text 5s linear infinite alternate;
 animation: bouncing-text 5s linear infinite alternate;
}
@-moz-keyframes bouncing-text {
 0%   { -moz-transform: translateX(50%); }
 100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes bouncing-text {
 0%   { -webkit-transform: translateX(50%); }
 100% { -webkit-transform: translateX(-50%); }
}

#game_title {
  font-size: 50px;
  color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
  text-shadow: 2px 2px #a8a8a8;
}

#log_button {
  background-color: black;
  color: white;
  position: relative;
  left: 43%;
  width: 200px;
  height: 100px;
  border-radius: 30px;
  border-color: blue;
  box-shadow: 0;
  transform-origin: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 200px;
}

#log_button2 {
  background-color: black;
  color: white;
  position: relative;
  margin-top: 5%;
  left: 75%;
  width: 115px;
  height: 65px;
  border-radius: 30px;
  border-color: blue;
  box-shadow: 0;
  transform-origin: center;
  font-weight: bold;
  font-size: 20px;
}

.select_mode {
   margin-top: 13%;
   font-size: 20px;
   position: fixed;
   left: 45%;
 }

p {
  font-family: arial black;
  color: black;
  margin: 0
}

#profileb {
  line-height: 30px;
  width: 124px;
  font-size: 20pt;
  font-family: Arial Black;
  margin-top: 60px;
  margin-left: 20%;
  position:absolute;
  top:4;
  right:50;
  background-color: blue;
  border: black;
  border: magenta;
  border-style: double;
  border-width: 6px;
  border-radius: 30px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;

}

 #subb{
  line-height: 30px;
  width: 124px;
  font-size: 20pt;
  font-family: Arial Black;
  margin-top: 60px;
  margin-right: 0px;
  position: absolute;
  top: 0;
  left: 4;
  background-color: blue;
  border: black;
  border: #00ffff;
  border-style: double;
  border-width: 6px;
  border-radius: 30px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
}

#h1_banner {
  background: navy;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  position: absolute;
}
