h1  {
	 font-size: 50px;
   color: white;
   text-align: center;
   border-radius: 25px;
   border-color: black;
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 line-height: 50px;
	 text-align: center;
	 -moz-transform:translateX(15%);
	 -webkit-transform:translateX(15%);
	 transform:translateX(15%)
	 -moz-animation: bouncing-text 2s linear infinite alternate;
	 -webkit-animation: bouncing-text 2s linear infinite alternate;
	 animation: bouncing-text 2s linear infinite alternate;
	}
	@-moz-keyframes bouncing-text {
	 0%   { -moz-transform: translateX(15%); }
	 100% { -moz-transform: translateX(-15%); }
	}
	@-webkit-keyframes bouncing-text {
	 0%   { -webkit-transform: translateX(15%); }
	 100% { -webkit-transform: translateX(-15%); }
	}

#home {
		line-height: 30px;
    width: 200px;
    font-size: 25pt;
    font-family: Arial Black;
    margin-top: 100px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
		background-color: blue;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
		border: lightgreen;
		border-style: double;
		border-width: 6px;

  }
body {
  background: radial-gradient(circle, blue, red);
}


#jb{
	margin: 0px;
	margin-top: 370px;
	float: left;
	width: 450px;
	height: 300px;
}

#h1_banner {
  background: navy;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  position: absolute;
}

#img_upl {
	margin: 0px;
	margin-top: 20px;
	margin-left: 0px
}

#pimage {
	font-size: 20px
}
