<!DOCTYPE html>
<title>Connect Four</title>

<h1>Connect Four</h1>

<style>
  
  .col{
    display: flex;
    flex-direction: column;
  }
  #board{
    margin-top: 10%;
    margin-left: 37%;
    display: flex;
    flex-direction: row;
  }

 .square{
   width: 50px;
   height: 50px;
   background:lightgrey;
   border:1px solid darkgrey;
 }

</style>

<div id="board">
    <div id="col0" class="col">
      <div id="square00" class="square"></div>
      <div id="square01" class="square"></div>
      <div id="square02" class="square"></div>
      <div id="square03" class="square"></div>
      <div id="square04" class="square"></div>
      <div id="square05" class="square"></div>
    </div>
    <div id="col1" class="col">
      <div id="square10" class="square"></div>
      <div id="square11" class="square"></div>
      <div id="square12" class="square"></div>
      <div id="square13" class="square"></div>
      <div id="square14" class="square"></div>
      <div id="square15" class="square"></div>
    </div>
    <div id="col2" class="col">
      <div id="square20" class="square"></div>
      <div id="square21" class="square"></div>
      <div id="square22" class="square"></div>
      <div id="square23" class="square"></div>
      <div id="square24" class="square"></div>
      <div id="square25" class="square"></div>
    </div>
    <div id="col3" class="col">
      <div id="square30" class="square"></div>
      <div id="square31" class="square"></div>
      <div id="square32" class="square"></div>
      <div id="square33" class="square"></div>
      <div id="square34" class="square"></div>
      <div id="square35" class="square"></div>
    </div>
    <div id="col4" class="col">
      <div id="square40" class="square"></div>
      <div id="square41" class="square"></div>
      <div id="square42" class="square"></div>
      <div id="square43" class="square"></div>
      <div id="square44" class="square"></div>
      <div id="square45" class="square"></div>
    </div>
    <div id="col5" class="col">
      <div id="square50" class="square"></div>
      <div id="square51" class="square"></div>
      <div id="square52" class="square"></div>
      <div id="square53" class="square"></div>
      <div id="square54" class="square"></div>
      <div id="square55" class="square"></div>
    </div>
    <div id="col5" class="col">
      <div id="square60" class="square"></div>
      <div id="square61" class="square"></div>
      <div id="square62" class="square"></div>
      <div id="square63" class="square"></div>
      <div id="square64" class="square"></div>
      <div id="square65" class="square"></div>
    </div>


</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="connect4.js"></script>
