<!DOCTYPE html>
<html>

  {% if current_user %}

      <title>Game selection</title>
      <link href="stylesheets/main.css" rel="stylesheet">
      <div id="h1_banner">
      </div>
      <h1 id="game_title">Connect 4</h1>

        <form action="/game" method="post">
          <section class="select_mode">
            <p>
             Game Mode: </p>
              <select>
                  <option name="dropbox" id="drop_selection" value="HvH">Human versus Human</option>
              </select>
              <button id="subb">Submit</button>
          </section>
        </form>
        <a href = "/profile">
            <button id ="profileb">Profile</button>
        </a>
      <a href="{{ logout_url }}"><button id="log_button2">Logout</button></a>


  {% else %}

      <title>Play Connect 4</title>
      <link href="stylesheets/main.css" rel="stylesheet">
      <div id="h1_banner">
      </div>
      <h1 id="game_title">Connect 4</h1>
      <a href="{{ login_url }}"><button id="log_button">Login</button></a>

  {% endif %}

</html>
