<!DOCTYPE html>
<html>
<link href="stylesheets/main.css" rel="stylesheet">
  {% if current_user %}
    <title>Game selection</title>
    <h1 id="game_title">Play Connect 4</h1>
    Gamemode:
    <select>
        <option value="HvH">Human versus Human</option>
        <option value="HvH">Human versus Computer</option>
    <select>
    <p></p>

    <button id="log_button"><a href="{{ logout_url }}">Logout</a></button>


  {% else %}
    <title>Connect 4</title>
    <h1 id="game_title">Connect 4</h1>
    <form action="/select" method="post">
      <button id="log_button"><a href="{{ login_url }}">Login</a></button>
    </form>
  {% endif %}

</html>

















</html>
